@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 6.67%;
    --foreground: 0 0% 93.33%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 73.33%;
    --popover: 0 0% 6.67%;
    --popover-foreground: 0 0% 93.33%;
    --card: 0 0% 6.67%;
    --card-foreground: 0 0% 93.33%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --primary: 150.24 50% 40%;
    --primary-foreground: 0 0% 93.33%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 93.33%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 93.33%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 0 0% 93.33%;
    --ring: 150 50% 40%;
    /*--background: 168 38% 3%;*/
    /*--foreground: 168 35% 100%;*/
    /*--muted: 138 24% 9%;*/
    /*--muted-foreground: 138 6% 68%;*/
    /*--popover: 168 38% 4%;*/
    /*--popover-foreground: 0 0% 100%;*/
    /*--card: 168 38% 4%;*/
    /*--card-foreground: 0 0% 100%;*/
    /*--border: 168 5% 13%;*/
    /*--input: 168 5% 13%;*/
    /*--primary: 168 58% 24%;*/
    /*--primary-foreground: 0 0% 100%;*/
    /*--secondary: 138 58% 24%;*/
    /*--secondary-foreground: 0 0% 100%;*/
    /*--accent: 198 58% 24%;*/
    /*--accent-foreground: 198 58% 84%;*/
    /*--destructive: 5 81% 53%;*/
    /*--destructive-foreground: 0 0% 100%;*/
    /*--ring: 168 58% 24%;*/
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

