@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 199 44% 1%;
    --foreground: 199 17% 100%;
    --muted: 19 13% 7%;
    --muted-foreground: 19 11% 64%;
    --popover: 199 44% 1%;
    --popover-foreground: 199 17% 100%;
    --card: 199 44% 1%;
    --card-foreground: 199 17% 100%;
    --border: 199 13% 11%;
    --input: 199 13% 11%;
    --primary: 199 77% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 19 77% 28%;
    --secondary-foreground: 19 77% 88%;
    --accent: 19 77% 28%;
    --accent-foreground: 19 77% 88%;
    --destructive: 1 81% 52%;
    --destructive-foreground: 0 0% 100%;
    --ring: 199 77% 28%;
    --hover-text: 199 100% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

